{{>header}}
        <main>
            <h1>{{title}}</h1>
            <p>Use site to get the forecast fo any place</p>

            <form>
                <input placeholder="Enter a location"><br>
                <button>Search</button>
            </form>
            <p id="error-message"></p>
            <p id="success-message"></p>
        </main>
{{>footer}}