<!DOCTYPE html>
<html>
    <head>
        <link href="css/styles.css" rel="stylesheet">
        
    </head>
    <body>
        <header>
            <h1>{{title}}</h1>
            <div class="menu">
                <a href="=#">Weather</a>
                <a href="=#">About</a> 
                <a href="=#">help</a>
                
            </div>
        </header>